body {
  background-color: lightpink;
}

h1 {
  font-family:'Segoe UI';
}
.bg-hero-image {
  background-image: url("imgs/louis\ vuitton.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: xx-large;
  font-size: smaller;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 75vh;
}

.card {
  width: 100%;
  height: 75vh;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: auto;
  background-color: pink;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(114, 14, 14, 0.22);
  border-radius: 15px;
  color: #f9fbfb;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card:hover .card-body {
  right: 0;
}

.card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 150;
}

.card-btn {
  color: #401f47;
  background: #8fabba;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

h1 {
  font-family: 'Heebo', sans-serif;
}

.container1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 50%;
  /* 1:1 Aspect Ratio */
  margin: auto;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  border: none;
  text-align: center;
  margin: auto
}

.bg-hero-image-young {
  background-image: url("imgs/young.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.bg-hero-image-accomplishments {
  background-image: url("imgs/bags.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.bg-hero-image-impact {
  background-image: url("imgs/store.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.hover-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover-nav li {
  float: left;
}

.hover-nav li a {
  position: relative;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 0;
}

li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: plum;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

li a:hover::before,
li a:focus::before {
  transform: scale(1);
}

p.font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-family: quicksand;
}

a.nav-link {
  font-family: Nova Square;
  font-weight: bolder;
}