body {
    background-color: lightpink;
}

.bg-hero-image {
    background-image: url("imgs/louis\ vuitton.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: xx-large;
  }